<h3>fish index</h3>

<table class='table'>
  <thead>
    <tr>
      <th>user name</th>
      <th>fish name</th>
      <th>shooting location</th>
      <th>photo</th>
      <th colspan="4">
      </th>
    </tr>
  </thead>
  
  <tbody>
   <% @fishes.each do |fish| %>    
      <tr>
        <td><%= fish.user.username %></td>
        <td><%= fish.title %></td>
        <td><%= fish.text %></td>
        <td><%= link_to post_path(fish.id) do %>
            <%= image_tag fish.image, size:'100x100'%>
            <% end %>
        </td>
      </tr>
   <% end %>
   </tbody>
  
  
</table>
    

  <%= paginate @fishes %>