<h1>魚詳細</h1>
<p><h5>&nbsp;&nbsp;<i class="far fa-compass" style="color: #4169e1;"></i>&nbsp;：<%= @post.title %></p></h5>

<p><h5>&nbsp;&nbsp;<i class="fas fa-map-pin" style="color: #dc143c;"></i>&nbsp;&nbsp;：<%= @post.text %></p></h5>
  
<h2>fish</h2>
<p><%= image_tag @post.image ,size:'500x500'%></p>

<% if @post.user_id == current_user.id %>
  <td><%= link_to "Edit", edit_post_path(@post), class:"btn btn-success"%></td>
  <td><%= link_to "Destroy", post_path(@post), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %></td>
<% end %>
          
<h5>Tags</h5>
<% @post.tags.each do |tag| %>
<span class="badge badge-secondary mr-1"><%= tag.name %></span>
<% end %>

  <% if @post.liked_by?(current_user) %>
    <p>
      <%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> いいね
      <% end %>
    </p>
  <% else %>
      <p>
      <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> いいね
      <% end %>
      </p>
   <% end %>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <!--<p><%#= image_tag comment.user.get_profile_image(100,100) %></p>-->
    <%= comment.user.username %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.comments %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(@post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comments, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>