<h1>魚詳細</h1>

<h2>title</h2>
<p><%= @fish.title %></p>

<h2>text</h2>
<p><%= @fish.text %></p>
  
<h2>fish</h2>
<p><%= image_tag @fish.image ,size:'500x500'%></p>


<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>