<h1>User info</h1>

<%= form_with model: @user do |f| %>
  <div class="user-name">Name</div>
    <%= f.text_field :username %>
  <div class="user-edit-image">Image</div>
    <%= f.file_field :profile_image %>
  <div class="form-body">Profile</div>
    <%= f.text_area :profile %><br>
  <div class="upload">
    <%= f.submit "Update User" %>
  </div>
<% end %>