<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <% if post.image.attached? %>
          <%= image_tag post&.image, size: '50x50' %>
          <% end %>
        </td>
        <td><%= post.user.username %></td>
    <% end %>
        
    <% if current_user.id == @user.id %>
    <%= form_with model: @post do |f| %>
  
    <div class="form-group">
      <%= f.label :Fishname %>
      <%= f.text_field :title, class: "form-control book_title" %>
    </div>
  
    <div class="form-group">
    	<%= f.label :Shootinglocation %>
      <%= f.text_area :text, class: "form-control book_title" %>
    </div>
    
    	<%= f.label :Photo %><br>
      <%= f.file_field :image %>
      <br>
      <br>
      <br>
    
    <div class="form-group">
      <%= f.submit class: "btn btn-success" %>
    </div>
    <% end %>
    <% end %>
</tbody>
</table>

  <table class='table'>
    <thead>
    
      <tr>
        <th>いいね一覧</th>
        <th></th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>
  </table>
  <br><br><br>
  <% @user.likes.each do |like| %>
    <%= link_to image_tag(like.post.image, class: 'image', size: "200x200"), post_path(like.post.id) %>
  <% end %>
</div>